<!DOCTYPE html>
<head>

    <link rel="stylesheet" href="../css/styles.css">

</head>
<html>
    <head>
        <meta charset="utf-8">
        <title>Página de Ejemplo</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>